body{
  margin: 0;
  font-family: "Poppins";
  background-color: #45016e;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.bgImage{
  padding: 0;
  margin: 0;
  border: 0;
  /*background-color: red;*/
  background-image: url(../assets/images/homePageHeader.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.flightsImage{
  /*background-color: red;*/
  background-image: url(../assets/images/headerbackBack.png);
  background-repeat: no-repeat;
  background-size:contain;
}

.contactImage{
  /*background-color: red;*/
  background-image: url(../assets/images/headerbackBack.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.topNav{
  padding-top: 5em;
  width: 80%;
  height: 90px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0 3em;
  border-radius: 30px;
  opacity: 70%;
  margin: 0 4em;
  border: 3em;
  margin-top: 1em;
}

.logo{
  opacity: 100%;
}

.search p{
  opacity: 100%;
}

.navFlex a{
  padding: 15px;
  border-style: none;
  border-top: 2em;
}

/*.topNavCenter{
  font-family: "Poppins";
  font-style: medium;
  text-align: center;
  font-size: 18px;
  padding-bottom: 3em;
}*/



@font-face {
  font-family: 'Porter Sans Block';
  src: url(../assets/fonts/porter_sans_block/porter-sans-inline-block-webfont.woff) format("woff");
}

.headerSection{
  margin-top: 22em;
}

.contactUs{
  display:flex;
  justify-content: center;
  text-align: center;
  font-family: 'Porter Sans Block';
  font-size: 48px;
  color: white;
}

.headerFlex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

.flexItem{
  flex: 50%;
  padding: 3em;
  height: 450;
}

.flexItem h1{
  font-family: 'Porter Sans Block';
    font-size: 48px;
    color: red;
    margin: 0;
    border: 0;
    padding: 0;
}
.flexItem h2{
  font-family: 'Poppins', bold;
  color: #45016e;
}

.featuredFlex{
  display: flex;
    justify-content: center;
    align-items: center;
    padding: 4em 4em;
    justify-content: space-between;
}

.featFlex{
  padding-left: 3em;
}

fieldset{
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  width: 100%;
  padding: 0;
}

#bookNow button{
    cursor: pointer;
    width: 270px;
    height: 70px;
    border: none;
    background-color: red;
    color: white;
    padding: 10px;
    font-size: 20px;
    border-radius: 12px;
}

#bookNow button:hover{
  background-color: #630000;
} 

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.featFlex h3{
  color:aqua;
  font-family: 'Poppins', medium;
  font-size: 18px;
}

.featFlex h2{
  color:white;
  font-family: 'Poppins', bold;
  font-size: 48px;
}

.featFlex p{
  color:white;
  font-family: 'Poppins', regular;
  font-size: 18px;
}

.shuttleFlex{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em 4em;
  justify-content: space-between;
}

.about{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em 4em;
  justify-content: space-between;
}

.aboutAbout{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4em 4em;
  justify-content: space-between;
}
.aboutAboutFlex p{
  color:gray;
  font-family: 'Poppins', regular;
  font-size: 18px;
  margin: 0;
  padding-left: 2em;
}
.aboutAboutFlex h3{
  color:aqua;
  font-family: 'Poppins', medium;
  font-size: 18px;
  margin: 0;
  padding-left: 2em;
}
.aboutAboutFlex h2{
  color:rgb(29, 0, 55);
  font-family: 'Poppins', bold;
  font-size: 40px;
  margin: 5px;
  padding-left: 1em;
}

.aboutFlex{
  padding-right: 3em;
  margin: 0;
}

.aboutFlex h3{
  color:aqua;
  font-family: 'Poppins', medium;
  font-size: 18px;
  margin: 0;
}

.aboutFlex h2{
  color:rgb(29, 0, 55);
  font-family: 'Poppins', bold;
  font-size: 40px;
  margin: 5px;
}

.aboutFlex p{
  color:gray;
  font-family: 'Poppins', regular;
  font-size: 18px;
  margin: 0;
}

.shutFlex{
  padding-right: 3em;
}

.shutFlex h3{
  color:aqua;
  font-family: 'Poppins', medium;
  font-size: 18px;
}

.shutFlex h2{
  color:rgb(29, 0, 55);
  font-family: 'Poppins', bold;
  font-size: 48px;
}

.shutFlex p{
  color:rgb(59, 59, 59);
  font-family: 'Poppins', regular;
  font-size: 18px;
}

.upFlex{
  padding-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.upFlex h3{
  font-family: 'Poppins', light;
  font-size: 18px;
  color: aqua;
}

.upFlex h2{
  text-align: center;
  font-family: 'Poppins', bold;
  font-size: 48px;
  color: white;
}

.tripsFlex{
  display: flex;
  flex-direction: row;
}

.tripFlex{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 1em;
  text-align: center;
}

.shutFlex h3{
  color:aqua;
  font-family: 'Poppins', medium;
  font-size: 18px;
}

.tripFlex h3{
  color:white;
  font-family: 'Poppins', bold;
  font-size: 18px;
  padding: 0;
}

.tripFlex p{
  color:white;
  font-family: 'Poppins', normal;
  font-size: 12px;
  padding: 0;
}

#bookNowButton button{
  cursor: pointer;
  width: 270px;
  height: 70px;
  border: none;
  background-color: red;
  color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 12px;
}

#bookNowButton button:hover{
background-color: #630000;
} 

a:link{
  color:rgb(59, 59, 59);
}

a:visited {
  color: rgb(59, 59, 59);
  background-color: transparent;
  text-decoration-line: none;
  font-family: 'Poppins', bold;
}

.copyFlex{
  background-color: white;
  display: flex;
  flex-direction: column;
}

.footerFlex{
  padding-top: 3em;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flFlex{
  padding: 0;
  padding-top: 1em;
  display: flex;
  flex-direction: column;
  color: gray;
}

.linksFlex{
  font-family: 'Poppins', regular;
  display: flex;
  flex-direction: column;
  padding: 0;

}

.linksFlex a{
  text-decoration: none;
  color: gray;
}

.socialsFlex{
  font-family: 'Poppins', regular;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-left: 3em;
}

.legalsFlex{
  padding-top: 5em;
  padding-right: 5em;
  padding-left: 5em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: row;
  color: gray;
  align-items: center;
  justify-content:space-between
}

.legalsFlex a{
  padding-right: 2em;
  color: gray;
  text-decoration: none;
}

.details{
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 3em;
  justify-content: space-evenly;
}

.medMap h3{
  color:aqua;
  font-family: 'Poppins', light;
  font-size: 18px;
  margin: 0;
}

.medMap h2{
  color:rgb(29, 0, 55);
  font-family: 'Poppins', bold;
  font-size: 40px;
  margin: 10px;
}

.slinksFlex a{
  padding-top: 2em;
  padding-right: 1em;
}

.slinksFlex{
  padding-top: 5px;
  padding-bottom: 5em;
}

.map{
  width: 590px;
  height: 534px;
}

.map iframe{
  border-radius: 14px;
  width: 607px;
  height: 534px;
}

.formContainer{

  height: 900px;
  margin-left: 5em;
  border-radius: 14px;
}

#contact{
  background-image: url(../assets/images/formBack.png);
  background-size: cover;
  border-radius: 14px;
  padding: 3em;
  align-content: justify;
  align-items: center;
  height: 850px;
  width: 430px;
}

#contact h3{
  color:white;
  font-family: 'Poppins', Thin 100;
  font-size: 18px;
  margin: 20px;
  padding-top: 20px;
}
  
#contact h2{
  color: white;
  font-family: 'Poppins', bold;
  font-size: 40px;
  margin: 0;
}

#contact input, #contact textarea{
  width: 95%;
  border: 5px solid #f3f3f3;
  background-color: #f3f3f3;
  border-radius: 8px;
  padding: 10px;
}

#contact input:hover, #contact textarea:hover{
  border: 5px solid rgb(167, 0, 0);
}

#contact input:focus, #contact textarea:focus{
  background-color: rgb(232, 158, 197);
}

#contact input{
  height: 40px;
}

#contact textarea{
  height: 80px;
}

#contact button{
  font-family: 'Poppins', bold;
  cursor: pointer;
  height: 60px;
  width: 200px;
  border: none;
  background-color: red;
  color: white;
  padding: 10px;
  font-size: 18px;
  border-radius: 14px;
}
